{
    "version": 3,
    "configurePresets": [
        {
            "name": "default",
            "inherits": "vcpkg",
            "environment": {
                "VCPKG_ROOT": "path_to_vcpkg"
            },
            "cacheVariables": {
                "CMAKE_EXPORT_COMPILE_COMMANDS": "YES"
            }
        }
    ]
}